@model WebDemo.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}


<div class="container mb-5 border border-success rounded-lg p-5" id="targetScroll">
    <div class="row">
        <div class="col-12 text-center">
            <div class="mb-5">
                <h2>Đăng ký</h2>
                <p>Tạo tài khoản mới</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <h3>Hoàn tất quá trình đăng ký tài khoản @ViewBag.LoginProvider</h3>
            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p class="text-info ml-3">
                    Vui lòng xác nhận lại email đã nhận qua <strong>@ViewBag.LoginProvider</strong>.
                    Vui lòng nhấn đăng ký để hoàn tất quá trình đăng ký.
                </p>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-outline-success" value="Đăng ký" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
  // Khi trang được load, cuộn đến phần tử target
  window.addEventListener('load', function() {
    // Lấy tham chiếu đến phần tử cần cuộn
      var targetElement = document.getElementById('targetScroll');

    // Cuộn phần tử vào giữa màn hình
    targetElement.scrollIntoView({
      behavior: 'smooth', // Cuộn mượt
      block: 'center',    // Cuộn để phần tử ở giữa chiều dọc
      inline: 'center'    // Cuộn để phần tử ở giữa chiều ngang
    });
  });
    </script>
}