@model IEnumerable<WebDemo.Models.Banner>
@using WebDemo.Helper

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}
@section _Header
{
    <!-- Custom styles for this page -->
    <link href="~/Areas/admin/Scripts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }
</style>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card border-danger shadow mb-4">
        <div class="card-header bg-danger py-3">
            <h6 class="m-0 font-weight-bold text-white">Quản lý Banner</h6>
        </div>
        <div class="card-body">
            <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                <div class="btn-group">
                    @Html.NoEncodeActionLink("<span class='fa fa-plus'></span> Thêm mới", "Create", "Create", "Banners", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Banner</th>
                            <th>Hình ảnh</th>
                            <th>Mô tả</th>
                            <th>Hiển thị</th>
                            <th>Thứ tự banner</th>
                            <th>Ngày bắt đầu</th>
                            <th>Chỉnh sửa Banner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var Number = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(Number++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    <img src="~/Uploads/img/hero/@item.img" width="50px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @(item.hide.GetValueOrDefault(false) ? "Ẩn" : "Hiển thị")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.order)
                                </td>
                                <td>
                                    @(item.datebegin.HasValue ? item.datebegin.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @Html.NoEncodeActionLink("<i class='fa fa-edit'></i>", "Edit", "Edit", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-secondary" })
                                    @Html.NoEncodeActionLink("<i class='fa fa-search-plus'></i>", "Detail", "Details", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-primary" })
                                    @Html.NoEncodeActionLink("<i class='fa fa-trash'></i>", "Delete", "Delete", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

@section _Footer
{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Scripts/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Scripts/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Scripts/js/demo/datatables-demo.js"></script>
    <script>
        var url = window.location.href;

        // Tìm tất cả các thẻ <a> có class là "collapse-item"
        var links = document.querySelectorAll('.collapse-item');

        // Duyệt qua từng thẻ <a>
        links.forEach(function (link) {
            // Nếu href của thẻ <a> trùng với URL của trang hiện tại
            if (link.href === url) {
                // Thêm lớp "active" vào thẻ <a>
                link.classList.add('active');

                // Thêm lớp "show" vào thẻ cha của thẻ <a>
                var grandParent = link.parentElement.parentElement;
                grandParent.classList.add('show');
            }
        });
    </script>
}
