@model PagedList.IPagedList<WebDemo.Models.Orders>
@using PagedList.Mvc;
@using System.Globalization;
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Uploads/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Lịch sử mua hàng</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>Lịch sử mua hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" id="targetScroll">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12 unique-table">
                    <div class="shoping__cart__table">
                        @{
                            foreach (var item in Model)
                            {
                                <div class="card cartItemsLoop" data-toggle="modal" data-target="#modal-history" data-order-id="@item.OrderID">
                                    <div class="card-body history-item-header">
                                        <h4>Mã đơn hàng</h4>
                                        <h5>#@item.OrderID</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5>@item.NameCustomer</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5>@item.OrderDate.GetValueOrDefault().ToString("dddd, dd/MM/yyyy", new CultureInfo("vi-VN"))</h5>
                                    </div>
                                    <div class="card-body history-item-footer">
                                        <h5 class="payment-history">@item.PaymentStatus</h5>
                                        <div class="sum-total-history">
                                            <h4>Tổng tiền</h4>
                                            <h5>@String.Format("{0:#,##0.##}", @item.TotalAmount) VNĐ</h5>
                                        </div>
                                    </div>

                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="product__pagination d-flex justify-content-center mt-5">
                    @Html.PagedListPager(Model, page => Url.Action("OrderHistory", "Checkout", new { page }))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">TIẾP TỤC MUA HÀNG</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right" id="updateCartBtn">
                        <span class="icon_loading"></span>
                        Cập nhật lịch sử
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
<!--
    Modal Detail history
-->
<!-- Modal -->
<div class="modal fade" id="modal-history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content modal-content-history">
            <div class="d-flex flex-column justify-content-center align-items-center" id="order-heading-history">
                <div class="text-uppercase">
                    <p>Chi tiết đơn hàng</p>
                </div>
                <div class="h4" id="date-history"></div>
                <div class="pt-1">
                    <p id="history-order-header"></p>
                </div>
                <div class="btn close-history text-white" data-dismiss="modal" aria-label="Close">
                    &times;
                </div>
            </div>
            <div class="modal-body modal-body-history">

                <div class="wrapper bg-white">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr class="text-uppercase text-muted">
                                    <th scope="row">Tên người đặt</th>
                                    <td class="text-right name-customer-history"><b></b></td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" class="text-right">Tổng cộng</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="history-products"></div>

                    <div class="pt-2 border-bottom mb-3"></div>
                    <div class="d-flex justify-content-start align-items-center pl-3">
                        <div class="text-muted">Phương thức thanh toán</div>
                        <div class="ml-auto">
                            <img class="mb-1" src="https://www.freepnglogos.com/uploads/visa-logo-png-image-4.png" alt=""
                                 width="30" height="30">
                            <label>Visa ******4242</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center py-1 pl-3">
                        <div class="text-muted">Giao hàng</div>
                        <div class="ml-auto">
                            <label>Miễn phí</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
                        <div class="text-muted ">
                            Tổng giá sản phẩm
                        </div>
                        <div class="ml-auto h5 total-money-history">
                            $34.94
                        </div>
                    </div>
                    <div class="row border rounded p-1 my-3">
                        <div class="col-md-12 py-3">
                            <div class="d-flex flex-column align-items start">
                                <b>Địa chỉ giao hàng</b>
                                <p class="text-justify pt-2" id="history-address">James Thompson, 356 Jonathon Apt.220,</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#modal-history').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('order-id')
                var modal = $(this)
                
                $.ajax({
                    url: '/Checkout/GetOrderById', // Đường dẫn tới hàm của bạn
                    type: 'GET',
                    data: {id: id},
                    success: function (data) {  // Hàm được gọi khi request thành công
                        $("#date-history").text(data.OrderDate)
                        $('#history-order-header').html('Đơn hàng <b class="text-dark">#' + data.OrderID + '</b> hiện đang được<b class="text-dark"> vận chuyển</b>');
                        $('.total-money-history').html('<b>' + data.TotalAmount + ' VNĐ</b>')
                        $('.name-customer-history').html('<b>' + data.NameCustomer + '</b>')

                        let htmlProducts = '';
                        data.OrderProduct.forEach(function (item) {
                            htmlProducts += '<div class="d-flex justify-content-between align-items-center list py-1 mx-3">';
                            htmlProducts += '<div class="d-flex justify-content-start align-items-center">';
                            htmlProducts += '<div><b>' + item.Quantity + 'x</b></div>';
                            htmlProducts += '<div class="mx-3">';
                            htmlProducts += '<img src="/Uploads/img/product/' + item.Image + '" alt="' + item.ProductName + '" class="rounded-circle" width="30" height="30">';
                            htmlProducts += '</div>';
                            htmlProducts += '<div class="order-item"><a href="/san-pham/' + item.Meta + '/' + item.ProductId + '">' + item.ProductName + '</a></div>';
                            htmlProducts += '</div>';
                            htmlProducts += '<div class="order-price">' + item.Price + ' VNĐ</div>';
                            htmlProducts += '</div>';
                        });

                        $('#history-products').html(htmlProducts);
                        $('#history-address').html(data.ShippingAddress);
                        
                    },
                    error: function (error) {  // Hàm được gọi khi có lỗi xảy ra
                        console.error(error);
                    }
                });
            })
        });
    </script>
}