@model PagedList.IPagedList<WebDemo.Models.Orders>
@using PagedList.Mvc;

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Uploads/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Lịch sử mua hàng</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>Lịch sử mua hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12 unique-table">
                    <div class="shoping__cart__table">
                        @{
                            foreach (var item in Model)
                            {
                                <div class="card cartItemsLoop">
                                    <div class="card-body history-item-header">
                                        <h4>Mã đơn hàng</h4>
                                        <h5>@item.OrderID</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5>@item.NameCustomer</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5>@item.OrderDate.GetValueOrDefault().ToString("MM/dd/yyyy")</h5>
                                    </div>
                                    <div class="card-body history-item-footer">
                                        <h5 class="payment-history">@item.PaymentStatus</h5>
                                        <div class="sum-total-history">
                                            <h4>Tổng tiền</h4>
                                            <h5>@String.Format("{0:#,##0.##}", @item.TotalAmount) VNĐ</h5>
                                        </div>
                                    </div>
                                   
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="product__pagination d-flex justify-content-center mt-5">
                    @Html.PagedListPager(Model, page => Url.Action("OrderHistory", "Checkout",new { page}))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">TIẾP TỤC MUA HÀNG</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right" id="updateCartBtn">
                        <span class="icon_loading"></span>
                        Cập nhật lịch sử
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
