@model WebDemo.Models.Blogs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}

<h3>Bạn có chắc muốn xoá blog này?</h3>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <!-- DataTales Example -->
        <div class="card border-danger shadow mb-4">
            <div class="card-header bg-danger py-3">
                <h6 class="m-0 font-weight-bold text-white">Thông tin chi tiết blog</h6>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row form-group">
                        @Html.Label("Danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                var category = ViewBag.name;
                            }
                            @Html.DisplayFor(model => category)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Tên blog", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.name)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/Uploads/img/blog/@Model.img" />
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.description)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.detail)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Số comments", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.comments)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Ngày upload", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.dateupload)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Tác giả", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.author)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Meta", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.meta)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Thứ tự", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.order)
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="checkbox">
                            @{
                                bool hide = (Model.hide.GetValueOrDefault(false) ? false : true);
                            }
                            @Html.CheckBoxFor(model => hide, new
                            {
                                style = "margin: -1px 5px",
                                disabled = "disabled"
                            })
                            @Html.ValidationMessageFor(model => model.hide, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xoá" class="btn btn-primary" /> |
                            @Html.ActionLink("Trở về danh sách", "Index")
                        </div>
                    }

                </div>
                
            </div>
        </div>
    </div>
</div>
