
@model IEnumerable<WebDemo.Models.Blogs>
@using WebDemo.Helper
<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }
</style>
@section _Header
{
    <!-- Custom styles for this page -->
    <link href="~/Areas/admin/Scripts/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên Blog</th>
                <th>Mô tả</th>
                <th>Hình ảnh</th>
                <th>Hiển thị</th>
                <th>Vị trí</th>
                <th>Ngày đăng</th>
                <th>Chỉnh sửa Blog</th>
            </tr>
        </thead>
        <tbody>
            @{ var Number = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(Number++)
                    </td>
                    <td style="text-align:left; white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        <img src="~/Uploads/img/blog/@item.img" width="50px" />
                    </td>
                    <td>
                        @(item.hide.GetValueOrDefault(false) ? "Ẩn" : "Hiển thị")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order)
                    </td>
                    <td>
                        <!--@Html.DisplayFor(modelItem => item.datebegin)-->
                        @(item.datebegin.HasValue ? item.datebegin.Value.ToString("dd/MM/yyyy") : "")
                    </td>
                    <td>
                        @Html.NoEncodeActionLink("<i class='fa fa-edit'></i>", "Edit", "Edit", "Blogs", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-secondary" })
                        @Html.NoEncodeActionLink("<i class='fa fa-search-plus'></i>", "Detail", "Details", "Blogs", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.NoEncodeActionLink("<i class='fa fa-trash'></i>", "Delete", "Delete", "Blogs", routeValues: new { id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section _Footer
{
    <!-- Page level plugins -->
    <script src="~/Areas/admin/Scripts/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Scripts/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Areas/admin/Scripts/js/demo/datatables-demo.js"></script>
}